/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

/* explain animation */
@-webkit-keyframes fade01 {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 0.25;
  }
  8% {
    opacity: 0.5;
  }
  12% {
    opacity: 0.75;
  }
  16% {
    opacity: 1;
  }
  20% {
    opacity: 0.75;
  }
  24% {
    opacity: 0.5;
  }
  28% {
    opacity: 0.25;
  }
  33% {
    opacity: 0;
  }
}
@keyframes fade01 {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 0.25;
  }
  8% {
    opacity: 0.5;
  }
  12% {
    opacity: 0.75;
  }
  16% {
    opacity: 1;
  }
  20% {
    opacity: 0.75;
  }
  24% {
    opacity: 0.5;
  }
  28% {
    opacity: 0.25;
  }
  33% {
    opacity: 0;
  }
}
@-webkit-keyframes fade02 {
  33% {
    opacity: 0;
  }
  37% {
    opacity: 0.25;
  }
  41% {
    opacity: 0.5;
  }
  45% {
    opacity: 0.75;
  }
  49% {
    opacity: 1;
  }
  54% {
    opacity: 0.75;
  }
  58% {
    opacity: 0.5;
  }
  62% {
    opacity: 0.25;
  }
  66% {
    opacity: 0;
  }
}
@keyframes fade02 {
  33% {
    opacity: 0;
  }
  37% {
    opacity: 0.25;
  }
  41% {
    opacity: 0.5;
  }
  45% {
    opacity: 0.75;
  }
  49% {
    opacity: 1;
  }
  54% {
    opacity: 0.75;
  }
  58% {
    opacity: 0.5;
  }
  62% {
    opacity: 0.25;
  }
  66% {
    opacity: 0;
  }
}
@-webkit-keyframes fade03 {
  67% {
    opacity: 0;
  }
  73% {
    opacity: 0.25;
  }
  78% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.75;
  }
  88% {
    opacity: 1;
  }
  91% {
    opacity: 0.75;
  }
  94% {
    opacity: 0.5;
  }
  97% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade03 {
  67% {
    opacity: 0;
  }
  73% {
    opacity: 0.25;
  }
  78% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.75;
  }
  88% {
    opacity: 1;
  }
  91% {
    opacity: 0.75;
  }
  94% {
    opacity: 0.5;
  }
  97% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
/* register Area */
.registerArea {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.registerArea .registerArea__backGround {
  background-color: #FCFCFE;
  height: 100%;
  width: 20%;
  margin: 0 auto;
}
.registerArea .registerArea__backGround .registerArea__frame {
  height: 90%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #14BD7E;
}
.registerArea .registerArea__backGround .registerArea__frame button {
  padding: 2vh 0;
  color: #fff;
  background-color: #14BD7E;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.5vh;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__termOfUse {
  height: 40%;
  margin: 0 auto 1vh;
  width: 95%;
  border-radius: 0.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #000;
  padding: 1vh 0.5vw 0;
  outline: 0.2vh solid #14BD72;
  box-shadow: 0.2vw 0.2vh 0.5vw 0 gray;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__termOfUse h2 {
  font-size: 1.5rem;
  font-weight: 700;
  height: 15%;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__termOfUse p {
  border-radius: 0.5vh;
  width: 90%;
  height: 60%;
  padding: 0.5vh 1vw;
  font-size: 0.8rem;
  overflow-y: scroll;
  background-color: #ECECEC;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__termOfUse .registerArea__btnBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 20%;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__termOfUse .registerArea__btnBox .registerArea__termOfUseContentBtn {
  background-color: #9CE0C2;
  font-size: 0.6rem;
  padding: 0.5vh 0.5vw;
  width: 50%;
  border-radius: 0.5vh;
  margin-right: 0.8vw;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__termOfUse .registerArea__btnBox .registerArea__termOfUseContentBtn:hover {
  background-color: #14BD7E;
}
.registerArea .registerArea__backGround .registerArea__frame h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  color: #14BD7E;
  font-weight: 700;
  margin: 2vh 0 5vh 0;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__dropDownArea {
  display: flex;
  justify-content: space-between;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__dropDownArea select {
  font-weight: 600;
  border: none;
  padding: 2vh 0;
  font-size: 1.1rem;
  width: 50%;
  background-color: #14BD7E;
  color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  text-align: center;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__dropDownArea select:nth-child(1) {
  background-color: #80E3C3;
  border-radius: 0.5vh 0 0 0.5vh;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__dropDownArea select:nth-child(2) {
  border-radius: 0 0.5vh 0.5vh 0;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__dropDownArea select:focus {
  outline: none;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__IDArea {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.registerArea .registerArea__backGround .registerArea__frame .registerArea__IDArea button {
  padding: 2vh 0.5vw;
  color: #fff;
  background-color: #14BD7E;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5vh;
}
.registerArea .registerArea__backGround .registerArea__frame input {
  color: #14BD7E;
  background-color: #FAFAFB;
  font-size: 1.2rem;
  text-align: center;
  padding: 2vh 0;
  font-weight: 600;
  border-radius: 0.5vh;
}
.registerArea .registerArea__backGround .registerArea__frame input::-moz-placeholder {
  color: #D5DDE6;
}
.registerArea .registerArea__backGround .registerArea__frame input:-ms-input-placeholder {
  color: #D5DDE6;
}
.registerArea .registerArea__backGround .registerArea__frame input::placeholder {
  color: #D5DDE6;
}
.registerArea .registerArea__backGround .registerArea__frame input:focus {
  outline: 0.2vh solid #14BD7E;
}
.registerArea .registerArea__backGround .registerArea__frame label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.registerArea .registerArea__backGround .registerArea__frame label span {
  font-size: 1.2rem;
  color: #B6B2B2;
  font-weight: 500;
  flex-grow: 2;
}
.registerArea .registerArea__backGround .registerArea__frame label button {
  color: #14BD7E;
  background-color: rgba(0, 0, 0, 0);
  flex-grow: 8;
  font-size: 1.2rem;
}/*# sourceMappingURL=register.css.map */